* {
    padding: 0;
    margin: 0;
}
#context_menu {
    width: 150px;
    background-color: rgb(6, 6, 6);
    color: white;
    border-radius: 9px;
    position: absolute;
    z-index: 1;
}
body {
    background-color: steelblue;
    height: 500px;
}
#context_menu div {
    padding: 4%;
}
#context_menu div:hover {
    background-color: rgb(105, 102, 98);
    color: white;
    cursor: pointer;
}