@import "./mixins";
@import "./variables";

* {
  font-family: $font-family-sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.hero-first-variation {
  background-color: $hero-black-color;
  margin-top: -25px;

  .hero__container {
    padding: 7.2rem 1rem 4rem;
  }

  .hero__pretitle {
    color: $hero-blue-color;
    text-decoration: none;
    font-size: 27px;
    position: relative;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15px;
  }

  .hero__title {
    color: $hero-white-color;
    margin-bottom: 12rem;
    text-transform: uppercase;
    max-width: 220px;
  }
  .hero__link {
    text-decoration: none;
    padding: 3rem 0;
    .button {
      color: $hero-white-color;
      padding: 1rem 2rem;
      text-decoration: none;
      background: linear-gradient(
          to left,
          $hero-black-color 50%,
          $hero-white-color 50%
        )
        right;
      background-size: 200%;
      transition: 0.3s ease-out;
      border: 1px solid $hero-blue-color;
      &:hover {
        color: $color-link;
        background-position: left;
      }
    }
  }
  @media (min-width: 576px) {
    .hero__title {
      margin-bottom: 2rem;
    }
  }

  .hero__description {
    color: $hero-white-color;
    font-size: 20px;
  }
  .hero__inner-contain {
    position: relative;
    z-index: 0;
    max-width: 620px;
  }
  .hero__image-wrapper__second,
  .hero__image-wrapper__third {
    img {
      object-fit: cover;
      position: absolute;
    }
  }

  .hero__image-wrapper {
    img {
      object-fit: cover;
      position: absolute;
    }
  }

  #heroFirstImage {
    right: 0;
    top: 5rem;
    z-index: -1;
  }
  #heroSecondImage,
  #heroThirdImage {
    display: none;
  }

  @media (min-width: 992px) {
    .hero__inner-contain {
      max-width: 1900px;
      margin: auto;
    }
    .hero__pretitle {
      font-size: 22px;
    }
    .hero__title {
      max-width: 620px;
    }
    h1 {
      font-size: 5rem;
    }
    .hero__container {
      padding: 9rem;
    }
    .hero__images {
      opacity: 0;
    }
    .hero__link {
      text-decoration: none;
      .button {
        border: 1px solid $hero-blue-color;
      }
    }

    .hero__image-wrapper {
      #heroFirstImage {
        @include animation(2.3s);
        right: 27rem;
        top: 23rem;
      }
      #heroSecondImage {
        @include animation(1.3s);
        right: 0;
        top: 5rem;
      }
      #heroThirdImage {
        @include animation(0.3s);
        right: 8.75rem;
        top: 25rem;
      }
    }
  }
}

.hero-second-variation {
  background-color: $hero-black-color;
  margin-top: -25px;

  .hero__container {
    padding: 7.2rem 1rem 4rem;
  }

  .hero__pretitle {
    color: $hero-blue-color;
    text-decoration: none;
    font-size: 27px;
    position: relative;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15px;
  }

  .hero__title {
    color: $hero-white-color;
    margin-bottom: 12rem;
    text-transform: uppercase;
    max-width: 220px;
  }
  .hero__link {
    text-decoration: none;
    padding: 3rem 0;
    .button {
      color: $hero-white-color;
      padding: 1rem 2rem;
      text-decoration: none;
      background: linear-gradient(
          to left,
          $hero-black-color 50%,
          $hero-white-color 50%
        )
        right;
      background-size: 200%;
      transition: 0.3s ease-out;
      border: 1px solid $hero-blue-color;
      &:hover {
        color: $color-link;
        background-position: left;
      }
    }
  }
  @media (min-width: 576px) {
    .hero__title {
      margin-bottom: 2rem;
    }
  }

  .hero__description {
    color: $hero-white-color;
    font-size: 20px;
  }
  .hero__inner-contain {
    position: relative;
    z-index: 0;
    max-width: 620px;
  }
  .hero__image-wrapper__second,
  .hero__image-wrapper__third {
    img {
      object-fit: cover;
      position: absolute;
    }
  }

  .hero__image-wrapper {
    img {
      object-fit: cover;
      position: absolute;
    }
  }

  #heroFirstImage {
    right: 0;
    top: 5rem;
    z-index: -1;
  }
  #heroSecondImage,
  #heroThirdImage {
    display: none;
  }

  @media (min-width: 992px) {
    .hero__inner-contain {
      max-width: 1900px;
      margin: auto;
    }
    .hero__pretitle {
      font-size: 22px;
    }
    .hero__title {
      max-width: 620px;
    }
    h1 {
      font-size: 5rem;
    }
    .hero__container {
      padding: 9rem;
    }
    .hero__images {
      opacity: 0;
    }
    .hero__link {
      text-decoration: none;
      .button {
        border: 1px solid $hero-blue-color;
      }
    }

    .hero__image-wrapper {
      #heroFirstImage {
        @include animation(2.3s);
        // right: 2rem;
        top: 10rem;
        z-index: 1;
      }
      #heroSecondImage {
        @include animation(1.3s);
        right: 17rem;
        top: 5rem;
      }
      #heroThirdImage {
        @include animation(0.3s);
        right: 8.75rem;
        top: 25rem;
      }
    }
  }
}

.hero-third-variation {
  background-color: $hero-black-color;
  margin-top: -25px;

  .hero__container {
    padding: 7.2rem 1rem 4rem;
  }

  .hero__pretitle {
    color: $hero-blue-color;
    text-decoration: none;
    font-size: 27px;
    position: relative;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15px;
  }

  .hero__title {
    color: $hero-white-color;
    margin-bottom: 12rem;
    text-transform: uppercase;
    max-width: 220px;
  }
  .hero__link {
    text-decoration: none;
    padding: 3rem 0;
    .button {
      color: $hero-white-color;
      padding: 1rem 2rem;
      text-decoration: none;
      background: linear-gradient(
          to left,
          $hero-black-color 50%,
          $hero-white-color 50%
        )
        right;
      background-size: 200%;
      transition: 0.3s ease-out;
      border: 1px solid $hero-blue-color;
      &:hover {
        color: $color-link;
        background-position: left;
      }
    }
  }
  @media (min-width: 576px) {
    .hero__title {
      margin-bottom: 2rem;
    }
  }

  .hero__description {
    color: $hero-white-color;
    font-size: 20px;
  }
  .hero__inner-contain {
    position: relative;
    z-index: 0;
    max-width: 620px;
  }
  .hero__image-wrapper__second,
  .hero__image-wrapper__third {
    img {
      object-fit: cover;
      position: absolute;
    }
  }

  .hero__image-wrapper {
    img {
      object-fit: cover;
      position: absolute;
    }
  }

  #heroFirstImage {
    right: 0;
    top: 5rem;
    z-index: -1;
  }
  #heroSecondImage,
  #heroThirdImage {
    display: none;
  }

  @media (min-width: 992px) {
    .hero__inner-contain {
      max-width: 1900px;
      margin: auto;
    }
    .hero__pretitle {
      font-size: 22px;
    }
    .hero__title {
      max-width: 620px;
    }
    h1 {
      font-size: 5rem;
    }
    .hero__container {
      padding: 9rem;
    }
    .hero__images {
      opacity: 0;
    }
    .hero__link {
      text-decoration: none;
      .button {
        border: 1px solid $hero-blue-color;
      }
    }

    .hero__image-wrapper {
      #heroFirstImage {
        @include animation(2.3s);
        right: 25rem;
        top: 10rem;
        z-index: 1;
      }
      #heroSecondImage {
        @include animation(1.3s);
        right: 4rem;
        top: 5rem;
      }
      #heroThirdImage {
        @include animation(0.3s);
        right: 0;
        top: 25rem;
      }
    }
  }
}
