* {
    background-color: rgb(26, 115, 232);
}
form {
    width: 20%;
    margin: auto;
    line-height: 3.5em;
}
input {
    color: rgb(104, 102, 102);
    border: 1px solid rgb(54, 53, 53);
    background-color: white;
    height: 30px;
    width: 200px;
}
button {
    width: 100px;
    height: 40px;
    text-align: center;
    margin-left: 43%;
    color: black;
    border-radius: 9px;
    letter-spacing: 3px;
    border: 1px solid rgb(79, 77, 77);
    background-color: rgb(241, 243, 244);
}