* {
  font-family: sans-serif;
  margin: 0;
}

#nav {
  position: fixed;
  width: 100%;
}

.left_nav {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(40, 42, 53);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  text-decoration: none;
  color: white;
}

.main_container {
  display: flex;
  padding: 4%;
  width: 90%;
}

.sidebar {
  background-color: rgb(231, 233, 235);
  width: 9%;
  padding: 1%;
  height: 660px;
  overflow-y: scroll;
}

.btn {
  justify-content: space-between;
  display: flex;
}

.right_container {
  width: 60%;
  margin-left: 1%;
  border: 0.6px solid rgb(231, 225, 225);
  padding: 2%;
}

button {
  background-color: rgb(6, 170, 109);
  color: white;
  border-radius: 4px;
  border: none;
  width: 90px;
  height: 45px;
  font-weight: bolder;
  font-size: 16px;
}

.css_para {
  background-color: rgb(217, 238, 225);
  height: 180px;
  padding: 2%;
}

.css_para p {
  margin-left: 2%;
  padding: 0.7%;
}

.css_para button {
  background-color: rgb(6, 170, 109);
  color: white;
  border-radius: 4px;
  border: none;
  width: 250px;
  height: 45px;
  font-weight: bolder;
  font-size: 16px;
  margin-left: 2.5%;
}

.w3Img {
  margin-left: 1%;
}

h1 {
  font-weight: 200;
}

.cssExample {
  height: 400px;
  background-color: #e7e9eb;
}

.cssExample2 {
  height: 60px;
}

.cssExample3 {
  padding: 1%;
  width: 10%;
}

h2 {
  font-weight: 200;
}